
utils/__pycache__/plotting.cpython-37.pyc
*.pyc
accesstoken
data/real_data/household_power_consumption.txt
data/real_data/1000_train.csv.gz
data/real_data/MiniBooNE_PID.txt
data/real_data/1000_test.csv.gz
data/real_data/miniboone_data.npy
data/real_data/hepmass_test.npy
data/real_data/hepmass_train.npy
data/BSDS300
data/cifar10
data/gas
data/hepmass
data/miniboone
data/mnist
data/PaxHeader
data/power
.vscode
datasets/raw/power/PaxHeader/data.npy
datasets/raw/BSDS300/BSDS300.hdf5
datasets/raw/BSDS300/PaxHeader/BSDS300.hdf5
datasets/raw/cifar10/data_batch_1
datasets/raw/cifar10/data_batch_2
datasets/raw/cifar10/data_batch_3
datasets/raw/cifar10/data_batch_4
datasets/raw/cifar10/PaxHeader/data_batch_1
datasets/raw/cifar10/PaxHeader/data_batch_2
datasets/raw/cifar10/PaxHeader/data_batch_3
datasets/raw/cifar10/PaxHeader/data_batch_4
datasets/raw/cifar10/PaxHeader/test_batch
*.pickle
*.csv
datasets/raw/cifar10/test_batch
*.npy
*.gz
datasets/raw/cifar10/PaxHeader/data_batch_5
datasets/raw/PaxHeader/BSDS300
datasets/raw/PaxHeader/cifar10
datasets/raw/PaxHeader/hepmass
datasets/raw/PaxHeader/miniboone
datasets/raw/PaxHeader/mnist
datasets/raw/PaxHeader/power
datasets/raw/PaxHeader/gas
datasets/raw/cifar10/data_batch_5
datasets/raw/power/._household_power_consumption.txt
datasets/raw/power/PaxHeader/._household_power_consumption.txt
